PORT=4000

# MongoDB Atlas Connection String
# Database: restaurant_db
# Cluster: cluster0.crvutrr.mongodb.net
# Username: priyadharshini
# Password: Ezhilithanya
MONGODB_URI=mongodb+srv://priyadharshini:Ezhilithanya@cluster0.crvutrr.mongodb.net/restaurant_db
# FastAPI Configuration
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000


11:35:16 am [vite] Internal server error: Failed to resolve import "@/utils/auth-context" from "../Admin_side/frontend/src/app/components/login-page.tsx". Does the file exist?
  Plugin: vite:import-analysis
  File: C:/Users/sanja/project/MOVICLOUD_RMS/Admin_side/frontend/src/app/components/login-page.tsx:2:34
  17 |  var _s = $RefreshSig$();
  18 |  import { useState } from "react";
  19 |  import { useAuth } from "@/utils/auth-context";
     |                           ^
  20 |  import { Button } from "@/app/components/ui/button";
  21 |  import { Input } from "@/app/components/ui/input";
      at TransformPluginContext._formatLog (file:///C:/Users/sanja/project/MOVICLOUD_RMS/User_side/node_modules/vite/dist/node/chunks/dep-DBxKXgDP.js:42499:41)
      at TransformPluginContext.error (file:///C:/Users/sanja/project/MOVICLOUD_RMS/User_side/node_modules/vite/dist/node/chunks/dep-DBxKXgDP.js:42496:16)
      at normalizeUrl (file:///C:/Users/sanja/project/MOVICLOUD_RMS/User_side/node_modules/vite/dist/node/chunks/dep-DBxKXgDP.js:40475:23) 
      at process.processTicksAndRejections (node:internal/process/task_queues:103:5)
      at async file:///C:/Users/sanja/project/MOVICLOUD_RMS/User_side/node_modules/vite/dist/node/chunks/dep-DBxKXgDP.js:40594:37
      at async Promise.all (index 4)
      at async TransformPluginContext.transform (file:///C:/Users/sanja/project/MOVICLOUD_RMS/User_side/node_modules/vite/dist/node/chunks/dep-DBxKXgDP.js:40521:7)
      at async EnvironmentPluginContainer.transform (file:///C:/Users/sanja/project/MOVICLOUD_RMS/User_side/node_modules/vite/dist/node/chunks/dep-DBxKXgDP.js:42294:18)
      at async loadAndTransform (file:///C:/Users/sanja/project/MOVICLOUD_RMS/User_side/node_modules/vite/dist/node/chunks/dep-DBxKXgDP.js:35735:27)
11:35:16 am [vite] (client) Pre-transform error: Failed to resolve import "@/utils/auth-context" from "../Admin_side/frontend/src/app/components/login-page.tsx". Does the file exist?
  Plugin: vite:import-analysis
  File: C:/Users/sanja/project/MOVICLOUD_RMS/Admin_side/frontend/src/app/components/login-page.tsx:2:34
  17 |  var _s = $RefreshSig$();
  18 |  import { useState } from "react";
  19 |  import { useAuth } from "@/utils/auth-context";
     |                           ^
  20 |  import { Button } from "@/app/components/ui/button";
  21 |  import { Input } from "@/app/components/ui/input";
# Optional: Override database name (default: restaurant_db)
# MONGODB_DB=restaurant_db
